<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<RollingFile name="RollingFile" fileName="logs/app.log"
			filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</RollingFile>

		<JDBC name="databaseAppender" tableName="application_log">
			<ConnectionFactory
				class="com.chuyeu.training.myapp.services.logger.ConnectionFactory"
				method="getDatabaseConnection" />
			<Column name="EVENT_DATE" isEventTimestamp="true" isUnicode="false" />
            <Column name="LEVEL" pattern="%level" isUnicode="false" />
            <Column name="LOGGER" pattern="%logger" isUnicode="false" />
            <Column name="MESSAGE" pattern="%msg%n" isUnicode="false" />
		</JDBC>

	</Appenders>

	<Loggers>

		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>

	<!-- 	<Logger level="info" name="com.chuyeu.training.myapp.webapp.services.impl"
			additivity="true">
			<AppenderRef ref="databaseAppender" />
		</Logger> -->

		<Logger level="info" name="com.chuyeu.training.myapp.webapp"
			additivity="true">
			<AppenderRef ref="RollingFile" />
		</Logger>

	</Loggers>


</Configuration>